{
  "presets": [
    "react",
    [
      "env"
    ],
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel",
    [
      "import",
      {
        "libraryName": "antd",
        "style": true
      }
    ]
  ],
  "env": {
    "production": {},
    "development": {
      "plugins": [
        [
          "dva-hmr",
          {
            "container": "#root",
            "quiet": false
          }
        ]
      ]
    }
  }
}