{
    "presets": [ "react","env", "stage-0"],
    "plugins": [
        [
          "import", {
          "libraryName": "antd",
          "style": true
        }
        ],
        "transform-runtime",
        "transform-decorators-legacy"
      ],
      "env": {
        "production": {},
        "development": {
          "plugins": [
            [
              "dva-hmr", {
              "container": "#app",
              "quiet": false
            }
            ]
          ]
        }
      }
}