<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bobo.server.dao.user.UserMapper">
  <resultMap id="BaseResultMap" type="com.bobo.server.entity.user.User">
    <id column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="en_name" jdbcType="VARCHAR" property="enName" />
    <result column="full_name" jdbcType="VARCHAR" property="fullName" />
    <result column="age" jdbcType="INTEGER" property="age" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="platform_id" jdbcType="VARCHAR" property="platformId" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="is_active" jdbcType="INTEGER" property="isActive" />
    <result column="buyer_or_seller" jdbcType="INTEGER" property="buyerOrSeller" />

    <result column="platform_name" jdbcType="VARCHAR" property="platformName" />
  </resultMap>
  <sql id="Base_Column_List">
    t.user_id, t.en_name, t.full_name, t.age, t.gender, t.last_login_time, t.is_active, t.buyer_or_seller, t.platform_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from su_user t
    where t.user_id = #{userId,jdbcType=VARCHAR}
  </select>

  <select id="selectUserListByField" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />,cbi.box_text as platform_name
    from su_user t
    left join comb_box_item cbi on cbi.box_code=t.platform_id and cbi.box_name='platform'
    <where>
      <if test="userId != null">
        and t.user_id = #{userId,jdbcType=VARCHAR}
      </if>
      <if test="fullName != null">
        and t.full_name = #{fullName,jdbcType=VARCHAR}
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from su_user
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bobo.server.entity.user.User">
    insert into su_user (user_id, en_name, full_name,
      age, gender, last_login_time, 
      is_active)
    values (#{userId,jdbcType=VARCHAR}, #{enName,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR},
      #{age,jdbcType=INTEGER}, #{gender,jdbcType=VARCHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, 
      #{isActive,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.bobo.server.entity.user.User">
    insert into su_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="enName != null">
        en_name,
      </if>
      <if test="fullName != null">
        full_name,
      </if>
      <if test="age != null">
        age,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="isActive != null">
        is_active,
      </if>
      <if test="platformId != null">
        platform_id,
      </if>
      <if test="buyerOrSeller != null">
        buyer_or_seller,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="enName != null">
        #{enName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        #{isActive,jdbcType=INTEGER},
      </if>
      <if test="platformId != null">
        #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="buyerOrSeller != null">
        #{buyerOrSeller,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bobo.server.entity.user.User">
    update su_user
    <set>
      <if test="enName != null">
        en_name = #{enName,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null">
        full_name = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="age != null">
        age = #{age,jdbcType=INTEGER},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isActive != null">
        is_active = #{isActive,jdbcType=INTEGER},
      </if>
      <if test="platformId != null">
        platform_id = #{platformId,jdbcType=VARCHAR},
      </if>
      <if test="buyerOrSeller != null">
        buyer_or_seller = #{buyerOrSeller,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bobo.server.entity.user.User">
    update su_user
    set en_name = #{enName,jdbcType=VARCHAR},
        full_name = #{fullName,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      gender = #{gender,jdbcType=VARCHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      is_active = #{isActive,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>